@charset "ISO-8859-1";

.row1
{
	background-color:aqua;
	height:100px;
	text-align: center;
}

.row2
{
	background-color:silver;
	height:400px;
	text-align: center;
}
.container
{
	background-color: gray;
}

